body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input {
    width: 200px;
}

.queue-item {
    width: 500px;
    height: 80px;
}

#queue {
    display: flex;
    flex-direction: column;
    align-items: center;
}